body{
    display: grid;
    background-color: beige;
    font-family: 'Roboto', sans-serif;
    font: 'roboto';

}

h1{
    display: grid;
    justify-content: center;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.container{
    width: 100%;
    display: grid;
    justify-content: center;
    
}
.container_list{
    justify-self: center;
}

ul{
    list-style: none;
    padding: 0px;
    border: 1px solid black;
}
i{
    float: right;
}